<!DOCTYPE html>
<html>
  <head>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>book a Room</h2>
    <form method="POST" class="form-horizontal col-md-4">
      <% if(error) { %>
        <%= error %>
      <% } %>
      <div class="form-group">
        <label class="control-label col-sm-2" for="roomtype">Room Type:</label>
        <div class="col-sm-10">
          <input name="roomtype" type="text" class="form-control" id="roomtype" placeholder="Enter Name">
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="chechindate">Checkin Date:</label>
          <div class="col-sm-10">
            <input name="chechindate" type="text" class="form-control" id="chechindate" placeholder="Enter category">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="checkoutdate">Checkout Date:</label>
            <div class="col-sm-10">
              <input name="checkoutdate" type="text" class="form-control" id="checkoutdate" placeholder="Enter Longtitude">
            </div>
          </div>

         
      
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
      
    </form>

  </body>
</html>